<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <!-- CSS  -->

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All Students</h1>

    <a href="/students/new">Add New Student</a>

    <ul>
        <% students.forEach(student => { %>

            <li>
                <%= student.name %>
                <a href="/students/<%= student.id %>/edit">edit</a>
                <form action="/students/<%= student.id %>/delete" method="post" style="display: inline;">
                    <button>Delete</button>
                </form>
            </li>


     <%   })   %>
    </ul>
</body>
</html>