<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Student</title>
        <!-- CSS  -->

        <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Add New Studets</h1>

    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Type Here Name..." required>
        <input type="email" name="email" placeholder="Type Here Email..." required>
        <input type="text" name="course" placeholder="Type Here Coure..." required>
        <button type="submit">Add</button>
    </form>

    <a href="/">Back</a>

</body>
</html>